#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 70px 20px 20px;
}

.navigation-top {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
}

.menu-list {
  width: 300px;
  height: 100%;
  margin-bottom: 0;
  display: inline-block;
  overflow: auto;
  margin-right: 15px;
  white-space: nowrap;
}

.menu-list:last-child {
  margin-right: 0;
}

.menu-list::-webkit-scrollbar {
  width: 5px;
}

.menu-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dedede;
}

.btn-menu {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
